<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
	<head>
    {{ partial "head.html" . }}
  </head>
<body>

	<div class="nano">
    <div class="nano-content">

			{{ partial "nav.html" . }}
	    {{ block "main" . -}}{{- end }}
			{{ partial "footer.html" . }}
		</div>
	</div>

  {{ partial "js.html" . }}
</body>
</html>
