<nav class="main-nav {{ if .IsHome }}main-nav-home{{ end }}">
	{{ $currentPage := . }}

	{{ if not .IsHome }}
		<div class="main-nav-left">
			<a {{if eq $currentPage.URL "/" }} class="active" {{ end }} href="{{ .Site.BaseURL }}">
				<img src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}"/>
				<div class="main-nav-title">{{ .Site.Params.name }}</div>
			</a>
		</div>
	{{ end }}

	<div class="main-nav-right">
		{{ with .Site.GetPage "section" "docs" }}
			<a {{if hasPrefix $currentPage.URL "/docs/" }} class="active" {{ end }} href="{{ .Site.BaseURL }}docs">Docs</a>
		{{ end }}

		{{ with .Site.GetPage "section" "blog" }}
			<a {{if hasPrefix $currentPage.URL "/blog/" }} class="active" {{ end }} href="{{ .Site.BaseURL }}blog">Blog</a>
		{{ end }}

		{{ with .Site.GetPage "section" "apps" }}
			<a {{if hasPrefix $currentPage.URL "/apps/" }} class="active" {{ end }} href="{{ .Site.BaseURL }}apps"><i class="fa fa-th-large" aria-hidden="true"></i></a>
		{{ end }}
	</div>

</nav>
