{{ define "profile" }}
<div class="profile">
	<section id="wrapper">
			<header id="header">
					<a href='{{ .Site.BaseURL }}'>
							<img id="avatar" src="{{ .Site.BaseURL }}images/avatar.png"/>
					</a>
					<h1>404</h1>
					<p>The content you're looking for doesn't seem to exist.</p>
			</header>
	</section>
</div>
{{ end }}
